# This case study consists of 1000 marks and the solution file is expected to be submitted in the upcoming session for evaluation.

### Step 1. Import the necessary libraries

In [1]:
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import pandas as pd

### Step 2. Import the dataset chipotle.tsv.

https://s3.amazonaws.com/acadgildsite/course/masteringdatascience/session8/chipotle.tsv

Read using pd.read_csv

In [2]:
path= "https://s3.amazonaws.com/acadgildsite/course/masteringdatascience/session8/chipotle.tsv" #Provide path here
chipo = pd.read_csv(path, sep = '\t') #Read file using pandas

### Step 3. See the first 10 entries

In [4]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 4. What is the number of observations in the dataset?

In [12]:
# Solution 1

chipo.info()
    # entries <= 4622 observations

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null object
dtypes: int64(2), object(3)
memory usage: 180.6+ KB

### Step 5. What is the number of columns in the dataset?

In [14]:
len(chipo.columns)

5

### Step 6. Print the name of all the columns.

In [13]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 7. How is the dataset indexed?

In [15]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 8. Which was the most-ordered item? 

(Replace *** with proper answer)

In [16]:
c = chipo.groupby('item_name') #Group by item_name 
c = c.sum()                    #Get total items using sum
c = c.sort_values(['quantity'], ascending=False) #Sort quantity in descending order
c.head(1)                     #Display the first

              order_id  quantity
item_name
Chicken Bowl    713926       761

### Step 9. What was the most ordered item in the choice_description column?

In [56]:
#Same as above use choice_description
# Diet Coke 159

c = chipo.groupby('choice_description').sum()
c = c.sort_values(['quantity'], ascending=False)
c.head(1)

                    order_id  quantity  item_price
choice_description
[Diet Coke]           123455       159      326.71

### Step 10. How many items were ordered in total?

In [52]:
len(chipo.index)

4622

### Step 11. Turn the item price into a float

#### Step 11.a. Check the item price type

In [53]:
chipo.item_price.dtype

dtype('float64')

#### Step 11.b. Change the type of item price

In [101]:
#Remove $ sign attched with item price
dollar = lambda x: int(x[1:-1])
#chipo.item_price = chipo.item_price.apply(dollar)

#### Step 11.c. Check the item price type

In [50]:
chipo.item_price.dtype

dtype('float64')

### Step 12. How much was the revenue for the period in the dataset?

In [64]:
#here revenue  = quantity * item_price
revenue = (chipo['quantity']* chipo['item_price']).sum()
print('Revenue was: $' + str(np.round(revenue,2)))

Revenue was: $39237.02

### Step 13. How many orders were made in the period?

In [63]:
orders = chipo.order_id.value_counts().count()
orders

1834

### Step 14 What is the average revenue amount per order?

In [100]:
# Solution 1

chipo['revenue'] = chipo['quantity'] * chipo['item_price']
#order_grouped = chipo.groupby(by=[revenue]).mean
#Take Mean of order_grouped and select revenue column

### Step 15. How many different items are sold?

In [71]:
chipo.item_name.value_counts().count()

50

### Step 16. How many products cost more than $10.00? Please follow the comment.

Replace  **  with proper ans

In [99]:

# delete the duplicates in item_name and quantity
chipo_filtered = chipo.drop_duplicates(['item_name','quantity'])

# select only the products with quantity equals to 1
chipo_one_prod = chipo_filtered[chipo_filtered.quantity == 1]

#chipo_one_prod['chipo_filtered'].item_name.nunique()

### Step 17. What is price of each item with most to least expensive? 
###### Select a data frame with only two columns item_name and item_price

In [91]:
# select only the item_name and item_price columns
price_per_item = chipo_one_prod[['item_name', 'item_price']]

# sort the values from the most to less expensive
price_per_item.sort_values(by = "item_price", ascending = False)

                                  item_name  item_price
606                        Steak Salad Bowl       11.89
1229                    Barbacoa Salad Bowl       11.89
1132                    Carnitas Salad Bowl       11.89
7                             Steak Burrito       11.75
168                   Barbacoa Crispy Tacos       11.75
39                            Barbacoa Bowl       11.75
738                       Veggie Soft Tacos       11.25
186                       Veggie Salad Bowl       11.25
62                              Veggie Bowl       11.25
57                           Veggie Burrito       11.25
250                           Chicken Salad       10.98
5                              Chicken Bowl       10.98
8                          Steak Soft Tacos        9.25
554                   Carnitas Crispy Tacos        9.25
237                     Carnitas Soft Tacos        9.25
56                      Barbacoa Soft Tacos        9.25
92                       Steak Crispy Tacos        9.25
664                             Steak Salad        8.99
54                               Steak Bowl        8.99
3750                         Carnitas Salad        8.99
21                         Barbacoa Burrito        8.99
27                         Carnitas Burrito        8.99
33                            Carnitas Bowl        8.99
11                     Chicken Crispy Tacos        8.75
12                       Chicken Soft Tacos        8.75
44                       Chicken Salad Bowl        8.75
1653                    Veggie Crispy Tacos        8.49
16                          Chicken Burrito        8.49
1694                           Veggie Salad        8.49
1414                                  Salad        7.40
510                                 Burrito        7.40
520                            Crispy Tacos        7.40
673                                    Bowl        7.40
298                       6 Pack Soft Drink        6.49
10                      Chips and Guacamole        4.45
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
674       Chips and Mild Fresh Tomato Salsa        3.00
111     Chips and Tomatillo Red Chili Salsa        2.95
233      Chips and Roasted Chili Corn Salsa        2.95
38    Chips and Tomatillo Green Chili Salsa        2.95
3     Chips and Tomatillo-Green Chili Salsa        2.39
300     Chips and Tomatillo-Red Chili Salsa        2.39
191      Chips and Roasted Chili-Corn Salsa        2.39
0              Chips and Fresh Tomato Salsa        2.39
40                                    Chips        2.15
6                             Side of Chips        1.69
263                       Canned Soft Drink        1.25
28                              Canned Soda        1.09
34                            Bottled Water        1.09

### Step 18. Sort by the name of the item

In [94]:
chipo.sort_values(by = "item_price", ascending = False)

,order_id,quantity,item_name,choice_description,item_price,revenue
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25,663.75
3480,1398,3,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",35.25,105.75
1254,511,4,Chicken Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",35.00,140.00
3602,1443,4,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",35.00,140.00
3601,1443,3,Veggie Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",33.75,101.25
409,178,3,Chicken Bowl,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",32.94,98.82
1255,511,3,Steak Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",27.75,83.25
3603,1443,3,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",27.75,83.25
3636,1454,3,Chicken Burrito,"[Fresh Tomato Salsa, Rice]",26.25,78.75
3634,1454,3,Chicken Burrito,[Fresh Tomato Salsa],26.25,78.75
1514,616,3,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",26.25,78.75
3334,1336,3,Steak Bowl,"[Tomatillo Green Chili (Medium), [Rice, Black ...",26.07,78.21
281,123,2,Steak Salad Bowl,"[Tomatillo Red Chili Salsa, [Black Beans, Chee...",23.78,47.56
613,253,2,Steak Salad Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",23.78,47.56
4427,1764,2,Steak Bowl,"[Fresh Tomato Salsa, [Rice, Pinto Beans, Sour ...",23.50,47.00
1566,635,2,Steak Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",23.50,47.00
506,212,2,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",23.50,47.00
3754,1502,2,Steak Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",23.50,47.00
4307,1718,2,Steak Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Sour ...",23.50,47.00
1753,708,2,Steak Burrito,"[Tomatillo Green Chili Salsa, [Fajita Vegetabl...",23.50,47.00
2954,1175,2,Steak Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Roaste...",22.96,45.92
591,243,2,Chicken Salad Bowl,"[Tomatillo Green Chili Salsa, [Black Beans, So...",22.50,45.00
135,60,2,Chicken Salad Bowl,"[Tomatillo Green Chili Salsa, [Sour Cream, Che...",22.50,45.00
3507,1409,2,Chicken Salad Bowl,"[Tomatillo Green Chili Salsa, [Black Beans, Ch...",22.50,45.00
213,94,2,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",22.50,45.00
1429,578,2,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Sour Cream, Guacam...",22.50,45.00
4423,1764,2,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Fajita Vegetables,...",22.50,45.00
1110,459,2,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Black Beans, Cheese, Gua...",22.50,45.00
816,337,2,Chicken Salad Bowl,"[Tomatillo Green Chili Salsa, [Black Beans, Ch...",22.50,45.00
1923,777,2,Chicken Salad Bowl,"[Tomatillo Green Chili Salsa, [Black Beans, Ch...",22.50,45.00
...,...,...,...,...,...,...
3145,1254,1,Canned Soda,[Diet Dr. Pepper],1.09,1.09
3254,1303,1,Canned Soda,[Sprite],1.09,1.09
3683,1475,1,Canned Soda,[Coca Cola],1.09,1.09
622,256,1,Canned Soda,[Dr. Pepper],1.09,1.09
780,321,1,Bottled Water,NaN,1.09,1.09
3499,1405,1,Bottled Water,NaN,1.09,1.09
3221,1288,1,Canned Soda,[Mountain Dew],1.09,1.09
1030,424,1,Canned Soda,[Diet Dr. Pepper],1.09,1.09
3576,1434,1,Canned Soda,[Coca Cola],1.09,1.09
1805,730,1,Canned Soda,[Sprite],1.09,1.09
87,38,1,Bottled Water,NaN,1.09,1.09
821,338,1,Canned Soda,[Coca Cola],1.09,1.09
3715,1484,1,Canned Soda,[Dr. Pepper],1.09,1.09
3162,1262,1,Canned Soda,[Coca Cola],1.09,1.09
3716,1484,1,Canned Soda,[Dr. Pepper],1.09,1.09
370,160,1,Canned Soda,[Diet Coke],1.09,1.09
200,89,1,Canned Soda,[Diet Coke],1.09,1.09
2410,955,1,Bottled Water,NaN,1.09,1.09
473,202,1,Canned Soda,[Diet Dr. Pepper],1.09,1.09
3718,1485,1,Canned Soda,[Diet Dr. Pepper],1.09,1.09
956,392,1,Canned Soda,[Coca Cola],1.09,1.09
3935,1578,1,Bottled Water,NaN,1.09,1.09
2584,1025,1,Canned Soda,[Mountain Dew],1.09,1.09
195,87,1,Canned Soda,[Coca Cola],1.09,1.09
107,47,1,Canned Soda,[Dr. Pepper],1.09,1.09
3936,1578,1,Canned Soda,[Diet Dr. Pepper],1.09,1.09
2922,1162,1,Bottled Water,NaN,1.09,1.09
1396,567,1,Canned Soda,[Coca Cola],1.09,1.09
2562,1014,1,Canned Soda,[Coca Cola],1.09,1.09
1457,591,1,Canned Soda,[Sprite],1.09,1.09

### Step 19. How many times were a Veggie Salad Bowl ordered?

In [95]:
chipo[chipo.item_name == "Veggie Salad Bowl"]

,order_id,quantity,item_name,choice_description,item_price,revenue
186,83,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25,11.25
295,128,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",11.25,11.25
455,195,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25,11.25
496,207,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Rice, Lettuce, Guacamole...",11.25,11.25
960,394,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75,8.75
1316,536,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",8.75,8.75
1884,760,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25,11.25
2156,869,1,Veggie Salad Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.25,11.25
2223,896,1,Veggie Salad Bowl,"[Roasted Chili Corn Salsa, Fajita Vegetables]",8.75,8.75
2269,913,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",8.75,8.75
2683,1066,1,Veggie Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75,8.75
3223,1289,1,Veggie Salad Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.25,11.25
3293,1321,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",8.75,8.75
4109,1646,1,Veggie Salad Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.25,11.25
4201,1677,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Black...",11.25,11.25
4261,1700,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25,11.25
4541,1805,1,Veggie Salad Bowl,"[Tomatillo Green Chili Salsa, [Fajita Vegetabl...",8.75,8.75
4573,1818,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75,8.75

In [96]:
chipo_salad = chipo[chipo.item_name == "Veggie Salad Bowl"]

len(chipo_salad)

18

### Step 20. How many times people orderd more than one Canned Soda?

In [97]:
chipo_drink_steak_bowl = chipo[(chipo.item_name == "Canned Soda") & (chipo.quantity > 1)]
len(chipo_drink_steak_bowl)

20